/*
Copyright 2008-2013 Concur Technologies, Inc.

Licensed under the Apache License, Version 2.0 (the "License"); you may
not use this file except in compliance with the License. You may obtain
a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
License for the specific language governing permissions and limitations
under the License.
*/


// COLORS
////////////////////
$black: #000;
$blue-notice: #8FBCD4;
$blue: #1F4068;
$dark-blue: #162447;
$dark-grey: #2E3336;
$dark-orange: #EF873A;
$fucsia: #E43F5A;
$green-success:  #6AC174;
$green: #5CAB8A;
$grey: #D0D0D0;
$light-green: #96BB7C;
$light-grey: #B0B0B0;
$orange-dark: #F3722D;
$orange-light: #FFCD8E;
$orange-mobile: #FFD7A6;
$orange: #F69E42;
$pink-warning: #C97A7E;
$pink: #F8C0A0;
$snow: #FFFAFA;
$super-dark-grey: #1E2224;
$purple: #8E44AD;
$white: #FFF;
$yellow: #FAE198;
$solarized-base3: #FDF6E3;
$solarized-base2: #EEE8D5;
$solarized-base1: #93A1A1;
$solarized-base1: #93A1A1;
$solarized-base00: #657B83;
$solarized-base02: #073642;
$solarized-blue: #002B37;
$solarized-green: #859900;
$solarized-cyan: #2AA198;
$solarized-yellow: #B58900;
$solarized-magenta: #D33682;


////////////////////////////////////////////////////////////////////////////////
// CUSTOMIZE SLATE
////////////////////////////////////////////////////////////////////////////////
// Use these settings to help adjust the appearance of Slate

// BACKGROUND COLORS
////////////////////
$nav-bg: $solarized-base02; // left sidebar background
$examples-bg: $solarized-base02; // right sidebar background (between examples code)
$code-bg: $solarized-blue; // examples code background
$code-annotation-bg: #191D1F !default;
$nav-subitem-bg: transparent; // left side bar background on childs of selected
$nav-active-bg: transparent; // left side bar background on selected
$nav-active-parent-bg: transparent; // parent links of the current section

// language selector
$lang-select-border: $dark-grey; // border between languages
$lang-select-bg: $super-dark-grey; // language selection lowest background
$single-lang-bg: $super-dark-grey; // unselected language background
$lang-select-active-bg: $solarized-base02; // top left language bar background
$lang-select-pressed-bg: $super-dark-grey; // color of language tab bg when mouse is pressed

// main
$main-bg: $solarized-base1; // background of requests / responses / parameters
$main-titles-bg: $solarized-base00; // method names (h1) background
$main-titles-triangle: $purple;
$main-parameters-odd: lighten($main-bg,6.9%);
$main-parameters-even: lighten($main-bg,4.20%);

$aside-notice-bg: $blue-notice !default;
$aside-warning-bg: $pink-warning !default;
$aside-success-bg: $green-success !default;
// $search-notice-bg: #c97a7e !default; not used
$search-highlight-bg: linear-gradient(to left, lighten($solarized-green,7%), lighten($solarized-green,14%));
$search-highlight-border: $solarized-green;

// TEXT COLORS
////////////////////
$main-text: $black;//#333 !default; // main content text color
$main-titles-text: $super-dark-grey; // center method big name
$main-a-link: crimson;
$main-a-visited: $fucsia;
$main-a-hover: hotpink;
$main-a-active: blue;
$nav-text: $solarized-base1; // left side bar text color
$nav-active-text: $solarized-base3;
$nav-active-parent-text: $solarized-base2; // parent links of the current section
$lang-select-text: $white; // color of unselected language tab text
$lang-select-active-text: $black; // color of selected language tab text
$lang-select-pressed-text: $white; // color of language tab text when mouse is pressed


// SIZES
////////////////////
$nav-width: 230px !default; // width of the navbar
$examples-width: 50% !default; // portion of the screen taken up by code examples
$main-padding: 28px !default; // padding to left and right of content & examples
$nav-padding: 15px !default; // padding to left and right of navbar
$nav-v-padding: 10px !default; // padding used vertically around search boxes and results
$nav-indent: 10px !default; // extra padding for ToC subitems
$code-annotation-padding: 13px !default; // padding inside code annotations
$h1-margin-bottom: 21px !default; // padding under the largest header tags
$tablet-width: 930px !default; // min width before reverting to tablet size
$phone-width: $tablet-width - $nav-width !default; // min width before reverting to mobile size


// OPENSANS FONT
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

// Font Variables
$open-sans: 'Open Sans', sans-serif;

%open-sans-font {
  font-family: $open-sans;
  font-size: 14px;
}

// FONTS
////////////////////
%default-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}

%header-font {
  @extend %default-font;
  font-weight: bold;
}

%code-font {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  font-size: 12px;
  line-height: 1.5;
}


// OTHER
////////////////////
$nav-footer-border-color: #666 !default;
$search-box-border-color: #666 !default;


////////////////////////////////////////////////////////////////////////////////
// INTERNAL
////////////////////////////////////////////////////////////////////////////////
// These settings are probably best left alone.

%break-words {
    word-break: break-all;
    hyphens: auto;
}
